<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SaveManager</servlet-name>
        <servlet-class>com.tc.servlets.SaveManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.tc.servlets.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveTruck</servlet-name>
        <servlet-class>com.tc.servlets.SaveTruck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveContact</servlet-name>
        <servlet-class>com.tc.servlets.SaveContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerLogin</servlet-name>
        <servlet-class>com.tc.servlets.ManagerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecentTruck</servlet-name>
        <servlet-class>com.tc.servlets.RecentTruck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchTruck</servlet-name>
        <servlet-class>com.tc.servlets.searchTruck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTruck</servlet-name>
        <servlet-class>com.tc.servlets.UpdateTruck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTruck1</servlet-name>
        <servlet-class>com.tc.servlets.UpdateTruck1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TruckDetail</servlet-name>
        <servlet-class>com.tc.servlets.TruckDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTruck</servlet-name>
        <servlet-class>com.tc.servlets.GetTruck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTruck2</servlet-name>
        <servlet-class>com.tc.servlets.UpdateTruck2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Status</servlet-name>
        <servlet-class>com.tc.servlets.Status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TowardsHere</servlet-name>
        <servlet-class>com.tc.servlets.TowardsHere</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchManager</servlet-name>
        <servlet-class>com.tc.servlets.SearchManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchManager1</servlet-name>
        <servlet-class>com.tc.servlets.SearchManager1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerDetails</servlet-name>
        <servlet-class>com.tc.servlets.ManagerDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>com.tc.servlets.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getManager</servlet-name>
        <servlet-class>com.tc.servlets.getManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut1</servlet-name>
        <servlet-class>com.tc.servlets.LogOut1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateManager</servlet-name>
        <servlet-class>com.tc.servlets.UpdateManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveManager</servlet-name>
        <url-pattern>/SaveManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveTruck</servlet-name>
        <url-pattern>/SaveTruck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveContact</servlet-name>
        <url-pattern>/SaveContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerLogin</servlet-name>
        <url-pattern>/ManagerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecentTruck</servlet-name>
        <url-pattern>/RecentTruck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchTruck</servlet-name>
        <url-pattern>/searchTruck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTruck</servlet-name>
        <url-pattern>/UpdateTruck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTruck1</servlet-name>
        <url-pattern>/UpdateTruck1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TruckDetail</servlet-name>
        <url-pattern>/TruckDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTruck</servlet-name>
        <url-pattern>/GetTruck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTruck2</servlet-name>
        <url-pattern>/UpdateTruck2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Status</servlet-name>
        <url-pattern>/Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TowardsHere</servlet-name>
        <url-pattern>/TowardsHere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchManager</servlet-name>
        <url-pattern>/SearchManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchManager1</servlet-name>
        <url-pattern>/SearchManager1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerDetails</servlet-name>
        <url-pattern>/ManagerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getManager</servlet-name>
        <url-pattern>/getManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut1</servlet-name>
        <url-pattern>/LogOut1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateManager</servlet-name>
        <url-pattern>/UpdateManager</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
